body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;

}

.thumb {
    height: 12em;
}

.feature {
    max-height: 30em;
}